.bgc_1 {
	background-color:#3fb6e0;
}
.bgc_2 {
	background-color:#a7c526;
}
.bgc_3 {
	background-color:#333f48!important;
}
.bgc_4 {
	color:#ffffff;
	background-color:#3fb6e0; 
	border-color:#3fb6e0;
}
.bgc_5 {
	background-color:#a5c422!important; 
	border-color:#a5c422!important;
}
.bgc_6 {
	color:#49bae1!important;
	font-weight:600;
	font-size:11px;
}
.bgc_7 {
	color:#ffffff!important;
	background-color:#a5c422!important;
	border-color:#a5c422!important;
} 
.bgc_8 {
	background-color:#333f48!important; 
	border-color:#333f48!important;
}


.space_1p {
	height: 1px
}
.space_5p {
	height: 5px
}
.space_10p {
	height: 10px
}
.space_15p {
	height: 15px
}
.space_20p {
	height: 20px
}
.space_25p {
	height: 25px
}
.space_30p {
	height: 30px
}
.space_32p {
	height: 32px
}
.space_33p {
	height: 33px
}
.space_35p {
	height: 35px
}
.space_40p {
	height: 40px
}
.space_45p {
	height: 45px
}
.space_50p {
	height: 50px
}
.space_55p {
	height: 55px
}
.space_58p {
	height: 58px
}
.space_60p {
	height: 60px
}
.space_70p {
	height: 70px
}
.space_72p {
	height: 72px
}
.space_73p {
	height: 73px
}
.space_75p {
	height: 75px
}
.space_76p {
	height: 76px
}
.space_80p {
	height: 80px
}
.space_87p {
	height: 87px
}
.space_85p {
	height: 85px
}
.space_93p {
	height: 93px
}
.space_95p {
	height: 95px
}
.space_96p {
	height: 96px
}
.space_100p {
	height: 100px
}
.space_105p {
	height: 105px
}


.cblack {
	color:#000000;
}
.centext {
	text-align:center;
}
.leftext {
	text-align:left;
}
.rightext {
	text-align:right;
}

.sc-pg .sc_line_style_solid,
.typopg .sc_line_style_solid {
	border-top-style:solid;
	border-top-color:#ededed;
}

.typopg .sc_align_left {
	text-align:left;
}

.sc-pg .alignright,
.sc-pg .alignleft,
.typopg .sc_image_shape_square {
	width:300px;
	height:200px;
}
.sc-pg .swiper-slide,
.sc-pg .sc_slider_bg {
	height:400px;
	width:100%;
}

.sc-pg .slides {
	height:400px;
}

.sc-pg .sw-slide_1 {
	background-image:url(../images/2640x1686.png);
}
.sc-pg .sw-slide_2 {
	background-image:url(../images/2640x1686.png)
}
.sc-pg .sw-slide_3 {
	background-image:url(../images/2640x1686.png)
}
.sc-pg .sw-slide_4 {
	background-image:url(../images/2640x1686.png);
}
.sc-pg .sw-slide_5 {
	background-image:url(../images/2640x1686.png);
}
.sc-pg .sw-slide_6 {
	background-image:url(../images/2640x1686.png);
}


.formatspg .sw-slide_1 {
	background-image:url(../images/2640x1686.png);
}
.formatspg .sw-slide_2 {
	background-image:url(../images/2640x1686.png);
}
.formatspg .sw-slide_3 {
	background-image:url(../images/2640x1686.png);
}
.formatspg .sw-slide_4 {
	background-image:url(../images/2640x1686.png);
}
.formatspg .sw-slide_5 {
	background-image:url(../images/2640x1686.png);
}

.formatspg .swiper-slide {
	width:770px;
	height:434px;"
}


.singleteam .sc_skills_count,
.sc-pg .sc_skills_count {
	background-color:#3FB6E0; 
	border-color:#3FB6E0
}

.sc-pg .dvalue_15 {
	background-color:#a5c422
}
.sc-pg .dvalue_30 {
	background-color:#f29f0e
}
.sc-pg .dvalue_10 {
	background-color:#87a137
}
.sc-pg .dvalue_25 {
	background-color:#2ab1c1
}
.sc-pg .dvalue_20 {
	background-color:#3fb6e0
}

.supg h2,
.aboutpg h2.sc_title,
.supg h4,
.supg p {
	text-align: center;
}

.aboutpg .bgimage_column {
	background-image:url(../images/2640x1686.png);
	background-repeat:no-repeat;
	background-size: contain;
}

.aboutpg .vc_custom_1455116616738 {
	font-size: 14px;
	color: #888888;
	text-align: center;
	font-family:Merriweather;
	font-weight:300;
	font-style:normal
}

.sc-pg .sc_table
.aboutpg .sc_services,
.servicespg .sc_services,
.indexp .sc_services,
.home2 .sc_services,
.home3 .sc_services,
.contactp .sc_services,
.indexp .sc_testimonials,
.home2 .sc_testimonials,
.home3 .sc_testimonials,
.aboutpg .sc_testimonials,
.indexp .swiper-slide,
.home2 .swiper-slide,
.home3 .swiper-slide,
.aboutpg .swiper-slide,
.indexp .sc_team,
.home2 .sc_team,
.home3 .sc_team,
.sc-pg .sc_team,
.teampg .sc_team,
.indexp .sc_video_frame,
.sc-pg .sc_video_frame,
.indexp .sc_googlemap,
.home2 .sc_googlemap,
.contactp .sc_googlemap,
.sc-pg .sc_googlemap,
.aboutpg .sc_call_to_action,
.teampg .sc_call_to_action,
.singlesvpg .sc_call_to_action,
.servicespg .sc_call_to_action,
.custpg .sc_call_to_action,
.supg .sc_call_to_action,
.indexp .sc_call_to_action,
.home2 .sc_call_to_action,
.home3 .sc_call_to_action {
	width:100%;
}

.formatspg .swiper-wrapper {
	height:434px;
}

.indexp .sc_align_left {
	text-align:left;
}
.indexp .sc_googlemap {
	height:486px;
}
.home2 .sc_googlemap,
.home3 .sc_googlemap {
	height:240px;
}
.contactp .sc_googlemap {
	height:572px;
}
.sc-pg .sc_googlemap {
	height:430px;
}

.servicespg .icon-ok,
.indexp .icon-ok,
.home3 .icon-ok,
.sc-pg .icon-ok,
.typopg .icon-ok {
	color:#a5c422!important;
}
.indexp .pr15i {
	text-align:right;
}

.contactp .bgimage_column,
.indexp .bgimage_column {
	background-repeat:no-repeat;
	background-size: contain;
}

.teampg .bgimage_column,
.home2 .bgimage_column {
	background-image:url(../images/2640x1686.png);
	background-repeat:no-repeat;
	background-size: contain;
}
.home3 .bgimage_column {
	background-image:url(../images/2640x1686.png);
	background-repeat:no-repeat;
	background-size: contain;
}

.singleteam .bgimage_column {
	background-image:url(../images/1000x1000.png);
	background-repeat:no-repeat;
	background-size: contain;
}

.singleteam h2 {
	font-size: 13px;
	color: #3fb6e0;
	text-align: left;
	font-family:Open Sans;
	font-weight:400;
	font-style:italic
}

.teampg h6.margin_top_null,
.singlesvpg h6.margin_top_null,
.home2 h6.margin_top_null {
	color:#49bae1;
	font-weight:600;
	font-size:11px;
}
	
	
.contactp h3 {
	font-size: 15px;
	color: #c7c7c7;
	text-align: center;
	font-family:Merriweather;
	font-weight:300;
	font-style:normal
}
.custpg h2,
.custpg p p,
.pricingpg p p {
	text-align: center;
}

.aboutpg .vc_custom_1455711526723 h6 {
	color:#49bae1;
	font-weight:600;
	font-size:11px;
}






#rev_slider_2_1 .sc_button {
	background-color:#3fb6e0;
	border-color:#3fb6e0;
}

#rev_slider_2_1_wrapper,
#rev_slider_1_1_wrapper {
	margin:0px auto;
	background:transparent;
	padding:0px;
	margin-top:0px;
	margin-bottom:0px;
}

#rev_slider_2_1,
#rev_slider_1_1 {
	display:none;
}

#slide-1-layer-1,
#slide-4-layer-1,
#slide-5-layer-1 {
	text-transform:left;
}

#slide-6-layer-4,
#slide-9-layer-4,
#slide-10-layer-4 {
	text-transform:left;
	background-color:rgba(63,182,224,1);
}

#slide-1-layer-2,
#slide-1-layer-3,
#slide-1-layer-4,
#slide-4-layer-2,
#slide-4-layer-3,
#slide-4-layer-4,
#slide-5-layer-2,
#slide-5-layer-3,
#slide-5-layer-4,
#slide-6-layer-2,
#slide-6-layer-5,
#slide-6-layer-6,
#slide-9-layer-2,
#slide-9-layer-5,
#slide-9-layer-6,
#slide-10-layer-2,
#slide-10-layer-5,
#slide-10-layer-6 {
	white-space: nowrap;
	text-transform:left;
}
#slide-6-layer-2,
#slide-1-layer-1 {
	z-index: 5;
}
#slide-6-layer-4,
#slide-1-layer-2 {
	z-index: 6; 
}
#slide-6-layer-5,
#slide-1-layer-3 {
	z-index: 7; 
}
#slide-6-layer-6,
#slide-1-layer-4 {
	z-index: 8; 
}
#slide-9-layer-2,
#slide-4-layer-1 {
	z-index: 9;
}
#slide-9-layer-4,
#slide-4-layer-2 {
	z-index: 10; 
}
#slide-9-layer-5,
#slide-4-layer-3 {
	z-index: 11;
}
#slide-9-layer-6,
#slide-4-layer-4 {
	z-index: 12; 
}
#slide-10-layer-2,
#slide-5-layer-1 {
	z-index: 13;
}
#slide-10-layer-4,
#slide-5-layer-2 {
	z-index: 14; 
}
#slide-10-layer-5,
#slide-5-layer-3 {
	z-index: 15; 
}
#slide-10-layer-6,
#slide-5-layer-4 {
	z-index: 16;
}
#slider-2-layer-2 {
	z-index: 17;
	text-transform:left;
	background-color:rgba(20,30,37,0.64);
	left:50%;
}
#slider-2-layer-3 {
	z-index: 18; 
	white-space: nowrap;
	text-transform:left;
}

.home3 .vc_custom_1455714631637 {
	font-size: 13px;
	color: #333333;
	text-align: left;
	font-family:Open Sans;
	font-weight:600;
	font-style:normal
}

.home3 .vc_custom_1455116616738,
.indexp .vc_custom_1455547755372 {
	font-size: 14px;
	color: #888888;
	text-align: center;
	font-family:Merriweather;
	font-weight:300;
	font-style:normal
}

.indexp .vc_custom_1455550892710 {
	font-size: 14px;
	color: #888888;
	text-align: left;
	font-family:Merriweather;
	font-weight:300;
	font-style:normal
}

.vc_custom_1455704765009 {
	background-color: #fbfdfd !important;
}

.vc_custom_1455704924154 {
	background-image: url(../images/2640x1686.png) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.vc_custom_1455705010924 {
	background-color: #fafcfc !important;
}

.vc_custom_1455711526723 {
	background-color: #fdfdfd !important;
}

.vc_custom_1455547755372 {
	margin-bottom: 0px !important;
}

.vc_custom_1455550892710 {
	margin-bottom: 0px !important;
}

 .vc_custom_1458054944279 {
	background-color: #fbfcfc !important;
}

.vc_custom_1458055006750 {
	background-color: #fbfcfc !important;
}

.vc_custom_1457963984421 {
	background-image: url(../images/2640x1686.png) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}


.vc_custom_1455716132737 {
	background-image: url(../images//2640x1686.png) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.vc_custom_1452769085586 {
	background-image: url(../images/2640x1686.png) !important;
}

.vc_custom_1455116616738 {
	margin-bottom: 0px !important;
}

.vc_custom_1455714631637 {
	margin-top: 20px !important;
	margin-bottom: -1px !important;
}

.vc_custom_1442318017320 {
	margin-bottom: 2rem !important;
}

.vc_custom_1454599782141 {
	margin-bottom: 10px !important;
}

.vc_custom_1454599787135 {
	margin-bottom: 10px !important;
}

.vc_custom_1454599792028 {
	margin-bottom: 10px !important;
}

.vc_custom_1454599797805 {
	margin-bottom: 10px !important;
}

.vc_custom_1454599802551 {
	margin-bottom: 10px !important;
}

.vc_custom_1442318017320 {
	margin-bottom: 2rem !important;
}

.vc_custom_1449134047180 {
	background-color: #ffffff !important;
}

.vc_custom_1449136753813 {
	background-color: #f6f7f7 !important;
}

.vc_custom_1449052136583 {
	background-color: #ffffff !important;
}

.vc_custom_1449069687256 {
	background-color: #ffffff !important;
}

.vc_custom_1449064514175 {
	margin-top: 25px !important;
	margin-bottom: 10px !important;
}

.vc_custom_1449069392501 {
	margin-top: 20px !important;
}

.vc_custom_1449071203295 {
	margin-top: 30px !important;
}

.vc_custom_1455033114246 {
	background-image: url(../images/2640x1686.png) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.vc_custom_1455116616738 {
	margin-bottom: 0px !important;
}

.vc_custom_1458639909295 {
	padding-right: 30px !important;
}

.vc_custom_1452682058083 {
	background-color: #fdfefe !important;
}

.vc_custom_1452782452156 {
	background-color: #fafcfc !important;
}

.vc_custom_1455113405644 {
	margin-top: 0px !important;
	margin-bottom: 20px !important;
}






.single-product .woocommerce-product-gallery {
	opacity: 0; 
	transition: opacity .25s ease-in-out;
}

.wp-social-login-provider-list {
    padding: 10px
}
.wp-social-login-provider-list a {
    text-decoration: none
}
.wp-social-login-provider-list img {
    border: 0
}

body #booked-profile-page input[type=submit].button-primary:hover,
body .booked-list-view button.button:hover,
body .booked-list-view input[type=submit].button-primary:hover,
body table.booked-calendar input[type=submit].button-primary:hover,
body .booked-modal input[type=submit].button-primary:hover,
body table.booked-calendar thead,
body table.booked-calendar thead th,
body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button:hover,
body #booked-profile-page .booked-profile-header,
body #booked-profile-page .booked-tabs li.active a,
body #booked-profile-page .booked-tabs li.active a:hover,
body #booked-profile-page .appt-block .google-cal-button > a:hover {
	background: #3fb6e0 !important;
}

body #booked-profile-page input[type=submit].button-primary:hover,
body table.booked-calendar input[type=submit].button-primary:hover,
body .booked-list-view button.button:hover,
body .booked-list-view input[type=submit].button-primary:hover,
body .booked-modal input[type=submit].button-primary:hover,
body table.booked-calendar th,
body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button:hover,
body #booked-profile-page .booked-profile-header,
body #booked-profile-page .appt-block .google-cal-button > a:hover {
	border-color: #3fb6e0 !important;
}

body table.booked-calendar tr.days,
body table.booked-calendar tr.days th,
body .booked-calendarSwitcher.calendar,
body .booked-calendarSwitcher.calendar select,
body #booked-profile-page .booked-tabs {
	background: #acb4b6 !important;
}

body table.booked-calendar tr.days th,
body #booked-profile-page .booked-tabs {
	border-color: #acb4b6 !important;
}

body #booked-profile-page input[type=submit].button-primary,
body table.booked-calendar input[type=submit].button-primary,
body .booked-list-view button.button,
body .booked-list-view input[type=submit].button-primary,
body .booked-list-view button.button,
body .booked-list-view input[type=submit].button-primary,
body .booked-modal input[type=submit].button-primary,
body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button,
body #booked-profile-page .booked-profile-appt-list .appt-block.approved .status-block,
body #booked-profile-page .appt-block .google-cal-button > a,
body .booked-modal p.booked-title-bar,
body table.booked-calendar td:hover .date span,
body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active,
body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active:hover,
.booked-ms-modal .booked-book-appt
/* Multi-Slot Booking */

{
	background: #3fb6e0;
}

body #booked-profile-page input[type=submit].button-primary,
body table.booked-calendar input[type=submit].button-primary,
body .booked-list-view button.button,
body .booked-list-view input[type=submit].button-primary,
body .booked-list-view button.button,
body .booked-list-view input[type=submit].button-primary,
body .booked-modal input[type=submit].button-primary,
body #booked-profile-page .appt-block .google-cal-button > a,
body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button,
body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active,
body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active:hover {
	border-color: #3fb6e0;
}

body .booked-modal .bm-window p i.fa,
body .booked-modal .bm-window a,
body .booked-appt-list .booked-public-appointment-title,
body .booked-modal .bm-window p.appointment-title,
.booked-ms-modal.visible:hover .booked-book-appt {
	color: #3fb6e0;
}

.booked-appt-list .timeslot.has-title .booked-public-appointment-title {
	color: inherit;
}


img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}


.contacts_wrap .logo img {
	height: 30px
}


.tribe-events-list .tribe-events-loop .tribe-event-featured,
.tribe-events-list #tribe-events-day.tribe-events-loop .tribe-event-featured,
.type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap,
.type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap:hover {
	background-color: #0ea0d7;
}

#tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured {
	background-color: #0ea0d7;
}

.tribe-events-list-widget .tribe-event-featured,
.tribe-events-venue-widget .tribe-event-featured,
.tribe-mini-calendar-list-wrapper .tribe-event-featured,
.tribe-events-adv-list-widget .tribe-event-featured .tribe-mini-calendar-event {
	background-color: #0ea0d7;
}

.tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single {
	background-color: rgba(14, 160, 215, .7);
	border-color: #0ea0d7;
}

.tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single:hover {
	background-color: #0ea0d7;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured,
.tribe-events-list #tribe-events-day.tribe-events-loop .tribe-event-featured,
.type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap,
.type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap:hover {
    background-color: #0ea0d7;
}
#tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured {
    background-color: #0ea0d7;
}
.tribe-events-list-widget .tribe-event-featured,
.tribe-events-venue-widget .tribe-event-featured,
.tribe-mini-calendar-list-wrapper .tribe-event-featured,
.tribe-events-adv-list-widget .tribe-event-featured .tribe-mini-calendar-event {
    background-color: #0ea0d7;
}
.tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single {
    background-color: rgba(14, 160, 215, .7);
    border-color: #0ea0d7;
}
.tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single:hover {
    background-color: #0ea0d7;
}

.tp-bannertimer {
	height: 5px;
	background: rgba(0,0,0,0.15);
}





.eg-henryharrison-element-1,
.eg-henryharrison-element-2 {
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    -ms-transition: all .4s linear;
    transition: all .4s linear
}
.eg-jimmy-carter-element-11 i:before {
    margin-left: 0px;
    margin-right: 0px
}
.eg-harding-element-17 {
    letter-spacing: 1px
}
.eg-harding-wrapper .esg-entry-media {
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 30px 30px 0px 30px
}
.eg-harding-wrapper .esg-entry-media img {
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%
}
.eg-ulysses-s-grant-wrapper .esg-entry-media {
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 30px 30px 0px 30px
}
.eg-ulysses-s-grant-wrapper .esg-entry-media img {
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%
}
.eg-richard-nixon-wrapper .esg-entry-media {
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 30px 30px 0px 30px
}
.eg-richard-nixon-wrapper .esg-entry-media img {
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%
}
.eg-herbert-hoover-wrapper .esg-entry-media img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%)
}
.eg-herbert-hoover-wrapper:hover .esg-entry-media img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%)
}
.eg-lyndon-johnson-wrapper .esg-entry-media img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%)
}
.eg-lyndon-johnson-wrapper:hover .esg-entry-media img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%)
}
.esg-overlay.eg-ronald-reagan-container {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}
.eg-georgebush-wrapper .esg-entry-cover {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}
.eg-jefferson-wrapper {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC) !important
}
.eg-monroe-element-1 {
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
}
.eg-lyndon-johnson-wrapper .esg-entry-cover {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(96%, rgba(18, 18, 18, 0)), color-stop(100%, rgba(19, 19, 19, 0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00131313', GradientType=1)
}
.eg-wilbert-wrapper .esg-entry-cover {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(96%, rgba(18, 18, 18, 0)), color-stop(100%, rgba(19, 19, 19, 0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00131313', GradientType=1)
}
.eg-wilbert-wrapper .esg-entry-media img {
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%)
}
.eg-wilbert-wrapper:hover .esg-entry-media img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%)
}
.eg-phillie-element-3:after {
    content: " ";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    left: 50%;
    margin-left: -5px;
    bottom: -5px;
    position: absolute
}
.eg-howardtaft-wrapper .esg-entry-media img,
.eg-howardtaft-wrapper .esg-media-poster {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%)
}
.eg-howardtaft-wrapper:hover .esg-entry-media img,
.eg-howardtaft-wrapper:hover .esg-media-poster {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%)
}
.myportfolio-container .added_to_cart.wc-forward {
    font-family: "Open Sans";
    font-size: 13px;
    color: #fff;
    margin-top: 10px
}
.esgbox-title.esgbox-title-outside-wrap {
    font-size: 15px;
    font-weight: 700;
    text-align: center
}
.esgbox-title.esgbox-title-inside-wrap {
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
    text-align: center
}
.esg-content.eg-twitterstream-element-33-a {
    display: inline-block
}
.eg-twitterstream-element-35 {
    word-break: break-all
}
.esg-overlay.eg-twitterstream-container {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}
.esg-content.eg-facebookstream-element-33-a {
    display: inline-block
}
.eg-facebookstream-element-0 {
    word-break: break-all
}
.esg-overlay.eg-flickrstream-container {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}
.eg-henryharrison-element-1,
.eg-henryharrison-element-2 {
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    -ms-transition: all .4s linear;
    transition: all .4s linear;
}
.eg-jimmy-carter-element-11 i:before {
    margin-left: 0px;
    margin-right: 0px
}
.eg-harding-element-17 {
    letter-spacing: 1px
}
.eg-harding-wrapper .esg-entry-media {
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 30px 30px 0px 30px;
}
.eg-harding-wrapper .esg-entry-media img {
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.eg-ulysses-s-grant-wrapper .esg-entry-media {
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 30px 30px 0px 30px;
}
.eg-ulysses-s-grant-wrapper .esg-entry-media img {
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.eg-richard-nixon-wrapper .esg-entry-media {
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 30px 30px 0px 30px;
}
.eg-richard-nixon-wrapper .esg-entry-media img {
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.eg-herbert-hoover-wrapper .esg-entry-media img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
}
.eg-herbert-hoover-wrapper:hover .esg-entry-media img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%)
}
.eg-lyndon-johnson-wrapper .esg-entry-media img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
}
.eg-lyndon-johnson-wrapper:hover .esg-entry-media img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%)
}
.esg-overlay.eg-ronald-reagan-container {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}
.eg-georgebush-wrapper .esg-entry-cover {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}
.eg-jefferson-wrapper {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC) !important
}
.eg-monroe-element-1 {
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
}
.eg-lyndon-johnson-wrapper .esg-entry-cover {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(96%, rgba(18, 18, 18, 0)), color-stop(100%, rgba(19, 19, 19, 0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00131313', GradientType=1);
}
.eg-wilbert-wrapper .esg-entry-cover {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(96%, rgba(18, 18, 18, 0)), color-stop(100%, rgba(19, 19, 19, 0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00131313', GradientType=1);
}
.eg-wilbert-wrapper .esg-entry-media img {
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
}
.eg-wilbert-wrapper:hover .esg-entry-media img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%)
}
.eg-phillie-element-3:after {
    content: " ";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    left: 50%;
    margin-left: -5px;
    bottom: -5px;
    position: absolute
}
.eg-howardtaft-wrapper .esg-entry-media img,
.eg-howardtaft-wrapper .esg-media-poster {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}
.eg-howardtaft-wrapper:hover .esg-entry-media img,
.eg-howardtaft-wrapper:hover .esg-media-poster {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
}
.myportfolio-container .added_to_cart.wc-forward {
    font-family: "Open Sans";
    font-size: 13px;
    color: #fff;
    margin-top: 10px
}
.esgbox-title.esgbox-title-outside-wrap {
    font-size: 15px;
    font-weight: 700;
    text-align: center
}
.esgbox-title.esgbox-title-inside-wrap {
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
    text-align: center
}


.minimal-light .navigationbuttons,
.minimal-light .esg-pagination,
.minimal-light .esg-filters {
    text-align: center
}
.minimal-light .esg-filterbutton,
.minimal-light .esg-navigationbutton,
.minimal-light .esg-sortbutton,
.minimal-light .esg-cartbutton a {
    color: #999;
    margin-right: 5px;
    cursor: pointer;
    padding: 0px 16px;
    border: 1px solid #e5e5e5;
    line-height: 38px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    background: #fff;
    margin-bottom: 5px
}
.minimal-light .esg-navigationbutton * {
    color: #999
}
.minimal-light .esg-navigationbutton {
    padding: 0px 16px
}
.minimal-light .esg-pagination-button:last-child {
    margin-right: 0
}
.minimal-light .esg-left,
.minimal-light .esg-right {
    padding: 0px 11px
}
.minimal-light .esg-sortbutton-wrapper,
.minimal-light .esg-cartbutton-wrapper {
    display: inline-block
}
.minimal-light .esg-sortbutton-order,
.minimal-light .esg-cartbutton-order {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #e5e5e5;
    width: 40px;
    line-height: 38px;
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    font-size: 12px;
    font-weight: 700;
    color: #999;
    cursor: pointer;
    background: #fff
}
.minimal-light .esg-cartbutton {
    color: #333;
    cursor: default !important
}
.minimal-light .esg-cartbutton .esgicon-basket {
    color: #333;
    font-size: 15px;
    line-height: 15px;
    margin-right: 10px
}
.minimal-light .esg-cartbutton-wrapper {
    cursor: default !important
}
.minimal-light .esg-sortbutton,
.minimal-light .esg-cartbutton {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 0px;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px
}
.minimal-light .esg-navigationbutton:hover,
.minimal-light .esg-filterbutton:hover,
.minimal-light .esg-sortbutton:hover,
.minimal-light .esg-sortbutton-order:hover,
.minimal-light .esg-cartbutton a:hover,
.minimal-light .esg-filterbutton.selected {
    background-color: #fff;
    border-color: #bbb;
    color: #333;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.13)
}
.minimal-light .esg-navigationbutton:hover * {
    color: #333
}
.minimal-light .esg-sortbutton-order.tp-desc:hover {
    border-color: #bbb;
    color: #333;
    box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.13) !important
}
.minimal-light .esg-filter-checked {
    padding: 1px 3px;
    color: #cbcbcb;
    background: #cbcbcb;
    margin-left: 7px;
    font-size: 9px;
    font-weight: 300;
    line-height: 9px;
    vertical-align: middle
}
.minimal-light .esg-filterbutton.selected .esg-filter-checked,
.minimal-light .esg-filterbutton:hover .esg-filter-checked {
    padding: 1px 3px 1px 3px;
    color: #fff;
    background: #000;
    margin-left: 7px;
    font-size: 9px;
    font-weight: 300;
    line-height: 9px;
    vertical-align: middle
}




.eg-dentrario-element-0 {
    font-size: 22px !important;
    line-height: 22px !important;
    color: #ffffff !important;
    font-weight: 400 !important;
    padding: 17px 13px 17px 13px !important;
    border-radius: 60px 60px 60px 60px !important;
    background-color: rgba(0, 0, 0, 0.50) !important;
    z-index: 2 !important;
    display: block;
    font-family: "Open Sans" !important;
    border-top-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-width: 0px !important;
    border-left-width: 0px !important;
    border-color: #ffffff !important;
    border-style: solid !important
}
.eg-dentrario-element-1 {
    font-size: 28px !important;
    line-height: 28px !important;
    color: #ffffff !important;
    font-weight: 400 !important;
    padding: 14px 9px 14px 9px !important;
    border-radius: 60px 60px 60px 60px !important;
    background-color: rgba(0, 0, 0, 0.50) !important;
    z-index: 2 !important;
    display: block;
    border-top-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-width: 0px !important;
    border-left-width: 0px !important;
    border-color: #ffffff !important;
    border-style: solid !important
}




.eg-dentrario-element-0:hover {
	font-size: 22px !important;
	line-height: 22px !important;
	color: #3fb6e0 !important;
	font-weight: 400 !important;
	border-radius: 60px 60px 60px 60px !important;
	background-color: rgba(0, 0, 0, 0.50) !important;
	border-top-width: 0px !important;
	border-right-width: 0px !important;
	border-bottom-width: 0px !important;
	border-left-width: 0px !important;
	border-color: #ffffff !important;
	border-style: solid !important
}

.eg-dentrario-element-1:hover {
	font-size: 28px !important;
	line-height: 28px !important;
	color: #3FB6E0 !important;
	font-weight: 400 !important;
	border-radius: 60px 60px 60px 60px !important;
	background-color: rgba(0, 0, 0, 0.50) !important;
	border-top-width: 0px !important;
	border-right-width: 0px !important;
	border-bottom-width: 0px !important;
	border-left-width: 0px !important;
	border-color: #ffffff !important;
	border-style: solid !important
}


.eg-dentrario-element-0-a {
	display: inline-block !important;
	float: none !important;
	clear: none !important;
	margin: 0px 10px 0px 0px !important;
	position: relative !important
}


.eg-dentrario-element-1-a {
	display: inline-block !important;
	float: none !important;
	clear: none !important;
	margin: 0px 10px 0px 0px !important;
	position: relative !important
}


.eg-dentrario-container {
	background-color: rgba(0, 0, 0, 0.55)
}


.eg-dentrario-content {
	background-color: #ffffff;
	padding: 0px 0px 0px 0px;
	border-width: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	border-color: transparent;
	border-style: double;
	text-align: left
}


.esg-grid .mainul li.eg-dentrario-wrapper {
	background-color: #3f424a;
	padding: 0px 0px 0px 0px;
	border-width: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	border-color: transparent;
	border-style: none
}



.esg-grid .mainul li.eg-dentrario-wrapper .esg-media-poster {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat
}


.eg-henryharrison-element-1,
.eg-henryharrison-element-2 {
	-webkit-transition: all .4s linear;
	-moz-transition: all .4s linear;
	-o-transition: all .4s linear;
	-ms-transition: all .4s linear;
	transition: all .4s linear
}

.eg-jimmy-carter-element-11 i:before {
	margin-left: 0px;
	margin-right: 0px
}

.eg-harding-element-17 {
	letter-spacing: 1px
}

.eg-harding-wrapper .esg-entry-media {
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px 30px 0px 30px
}

.eg-harding-wrapper .esg-entry-media img {
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%
}

.eg-ulysses-s-grant-wrapper .esg-entry-media {
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px 30px 0px 30px
}

.eg-ulysses-s-grant-wrapper .esg-entry-media img {
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%
}

.eg-richard-nixon-wrapper .esg-entry-media {
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px 30px 0px 30px
}

.eg-richard-nixon-wrapper .esg-entry-media img {
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%
}

.eg-herbert-hoover-wrapper .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%)
}

.eg-herbert-hoover-wrapper:hover .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%)
}

.eg-lyndon-johnson-wrapper .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%)
}

.eg-lyndon-johnson-wrapper:hover .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%)
}

.esg-overlay.eg-ronald-reagan-container {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}

.eg-georgebush-wrapper .esg-entry-cover {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}

.eg-jefferson-wrapper {
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC) !important
}

.eg-monroe-element-1 {
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
}

.eg-lyndon-johnson-wrapper .esg-entry-cover {
	background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(96%, rgba(18, 18, 18, 0)), color-stop(100%, rgba(19, 19, 19, 0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00131313', GradientType=1)
}

.eg-wilbert-wrapper .esg-entry-cover {
	background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(96%, rgba(18, 18, 18, 0)), color-stop(100%, rgba(19, 19, 19, 0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00131313', GradientType=1)
}

.eg-wilbert-wrapper .esg-entry-media img {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%)
}

.eg-wilbert-wrapper:hover .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%)
}

.eg-phillie-element-3:after {
	content: " ";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #000 transparent transparent transparent;
	left: 50%;
	margin-left: -5px;
	bottom: -5px;
	position: absolute
}

.eg-howardtaft-wrapper .esg-entry-media img,
.eg-howardtaft-wrapper .esg-media-poster {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%)
}

.eg-howardtaft-wrapper:hover .esg-entry-media img,
.eg-howardtaft-wrapper:hover .esg-media-poster {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%)
}

.myportfolio-container .added_to_cart.wc-forward {
	font-family: "Open Sans";
	font-size: 13px;
	color: #fff;
	margin-top: 10px
}

.esgbox-title.esgbox-title-outside-wrap {
	font-size: 15px;
	font-weight: 700;
	text-align: center
}

.esgbox-title.esgbox-title-inside-wrap {
	padding-bottom: 10px;
	font-size: 15px;
	font-weight: 700;
	text-align: center
}

.esg-content.eg-twitterstream-element-33-a {
	display: inline-block
}

.eg-twitterstream-element-35 {
	word-break: break-all
}

.esg-overlay.eg-twitterstream-container {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}

.esg-content.eg-facebookstream-element-33-a {
	display: inline-block
}

.eg-facebookstream-element-0 {
	word-break: break-all
}

.esg-overlay.eg-flickrstream-container {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}

.eg-henryharrison-element-1,
.eg-henryharrison-element-2 {
	-webkit-transition: all .4s linear;
	-moz-transition: all .4s linear;
	-o-transition: all .4s linear;
	-ms-transition: all .4s linear;
	transition: all .4s linear;
}

.eg-jimmy-carter-element-11 i:before {
	margin-left: 0px;
	margin-right: 0px
}

.eg-harding-element-17 {
	letter-spacing: 1px
}

.eg-harding-wrapper .esg-entry-media {
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px 30px 0px 30px;
}
.eg-harding-wrapper .esg-entry-media img {
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.eg-ulysses-s-grant-wrapper .esg-entry-media {
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px 30px 0px 30px;
}

.eg-ulysses-s-grant-wrapper .esg-entry-media img {
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.eg-richard-nixon-wrapper .esg-entry-media {
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px 30px 0px 30px;
}

.eg-richard-nixon-wrapper .esg-entry-media img {
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.eg-herbert-hoover-wrapper .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%);
}

.eg-herbert-hoover-wrapper:hover .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%)
}

.eg-lyndon-johnson-wrapper .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%);
}

.eg-lyndon-johnson-wrapper:hover .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%)
}

.esg-overlay.eg-ronald-reagan-container {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}

.eg-georgebush-wrapper .esg-entry-cover {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}

.eg-jefferson-wrapper {
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC) !important
}

.eg-monroe-element-1 {
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
}

.eg-lyndon-johnson-wrapper .esg-entry-cover {
	background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(96%, rgba(18, 18, 18, 0)), color-stop(100%, rgba(19, 19, 19, 0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00131313', GradientType=1);
}

.eg-wilbert-wrapper .esg-entry-cover {
	background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(96%, rgba(18, 18, 18, 0)), color-stop(100%, rgba(19, 19, 19, 0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00131313', GradientType=1);
}

.eg-wilbert-wrapper .esg-entry-media img {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%);
}

.eg-wilbert-wrapper:hover .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%)
}

.eg-phillie-element-3:after {
	content: " ";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #000 transparent transparent transparent;
	left: 50%;
	margin-left: -5px;
	bottom: -5px;
	position: absolute
}

.eg-howardtaft-wrapper .esg-entry-media img,
.eg-howardtaft-wrapper .esg-media-poster {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%);
}

.eg-howardtaft-wrapper:hover .esg-entry-media img,
.eg-howardtaft-wrapper:hover .esg-media-poster {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%);
}

.myportfolio-container .added_to_cart.wc-forward {
	font-family: "Open Sans";
	font-size: 13px;
	color: #fff;
	margin-top: 10px
}

.esgbox-title.esgbox-title-outside-wrap {
	font-size: 15px;
	font-weight: 700;
	text-align: center
}

.esgbox-title.esgbox-title-inside-wrap {
	padding-bottom: 10px;
	font-size: 15px;
	font-weight: 700;
	text-align: center
}
.minimal-light .navigationbuttons,
.minimal-light .esg-pagination,
.minimal-light .esg-filters {
	text-align: center
}

.minimal-light .esg-filterbutton,
.minimal-light .esg-navigationbutton,
.minimal-light .esg-sortbutton,
.minimal-light .esg-cartbutton a {
	color: #999;
	margin-right: 5px;
	cursor: pointer;
	padding: 0px 16px;
	border: 1px solid #e5e5e5;
	line-height: 38px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 12px;
	font-weight: 700;
	font-family: "Open Sans", sans-serif;
	display: inline-block;
	background: #fff;
	margin-bottom: 5px
}

.minimal-light .esg-navigationbutton * {
	color: #999
}

.minimal-light .esg-navigationbutton {
	padding: 0px 16px
}

.minimal-light .esg-pagination-button:last-child {
	margin-right: 0
}

.minimal-light .esg-left,
.minimal-light .esg-right {
	padding: 0px 11px
}

.minimal-light .esg-sortbutton-wrapper,
.minimal-light .esg-cartbutton-wrapper {
	display: inline-block
}

.minimal-light .esg-sortbutton-order,
.minimal-light .esg-cartbutton-order {
	display: inline-block;
	vertical-align: top;
	border: 1px solid #e5e5e5;
	width: 40px;
	line-height: 38px;
	border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	font-size: 12px;
	font-weight: 700;
	color: #999;
	cursor: pointer;
	background: #fff
}

.minimal-light .esg-cartbutton {
	color: #333;
	cursor: default !important
}

.minimal-light .esg-cartbutton .esgicon-basket {
	color: #333;
	font-size: 15px;
	line-height: 15px;
	margin-right: 10px
}

.minimal-light .esg-cartbutton-wrapper {
	cursor: default !important
}

.minimal-light .esg-sortbutton,
.minimal-light .esg-cartbutton {
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin-right: 0px;
	border-right: none;
	border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px
}

.minimal-light .esg-navigationbutton:hover,
.minimal-light .esg-filterbutton:hover,
.minimal-light .esg-sortbutton:hover,
.minimal-light .esg-sortbutton-order:hover,
.minimal-light .esg-cartbutton a:hover,
.minimal-light .esg-filterbutton.selected {
	background-color: #fff;
	border-color: #bbb;
	color: #333;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.13)
}

.minimal-light .esg-navigationbutton:hover * {
	color: #333
}

.minimal-light .esg-sortbutton-order.tp-desc:hover {
	border-color: #bbb;
	color: #333;
	box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.13) !important
}

.minimal-light .esg-filter-checked {
	padding: 1px 3px;
	color: #cbcbcb;
	background: #cbcbcb;
	margin-left: 7px;
	font-size: 9px;
	font-weight: 300;
	line-height: 9px;
	vertical-align: middle
}

.minimal-light .esg-filterbutton.selected .esg-filter-checked,
.minimal-light .esg-filterbutton:hover .esg-filter-checked {
	padding: 1px 3px 1px 3px;
	color: #fff;
	background: #000;
	margin-left: 7px;
	font-size: 9px;
	font-weight: 300;
	line-height: 9px;
	vertical-align: middle
}
.eg-dentrario-element-0 {
	font-size: 22px !important;
	line-height: 22px !important;
	color: #ffffff !important;
	font-weight: 400 !important;
	padding: 17px 13px 17px 13px !important;
	border-radius: 60px 60px 60px 60px !important;
	background-color: rgba(0, 0, 0, 0.50) !important;
	z-index: 2 !important;
	display: block;
	font-family: "Open Sans" !important;
	border-top-width: 0px !important;
	border-right-width: 0px !important;
	border-bottom-width: 0px !important;
	border-left-width: 0px !important;
	border-color: #ffffff !important;
	border-style: solid !important
}

.eg-dentrario-element-1 {
	font-size: 28px !important;
	line-height: 28px !important;
	color: #ffffff !important;
	font-weight: 400 !important;
	padding: 14px 9px 14px 9px !important;
	border-radius: 60px 60px 60px 60px !important;
	background-color: rgba(0, 0, 0, 0.50) !important;
	z-index: 2 !important;
	display: block;
	border-top-width: 0px !important;
	border-right-width: 0px !important;
	border-bottom-width: 0px !important;
	border-left-width: 0px !important;
	border-color: #ffffff !important;
	border-style: solid !important
}
.eg-dentrario-element-0:hover {
	font-size: 22px !important;
	line-height: 22px !important;
	color: #3fb6e0 !important;
	font-weight: 400 !important;
	border-radius: 60px 60px 60px 60px !important;
	background-color: rgba(0, 0, 0, 0.50) !important;
	border-top-width: 0px !important;
	border-right-width: 0px !important;
	border-bottom-width: 0px !important;
	border-left-width: 0px !important;
	border-color: #ffffff !important;
	border-style: solid !important
}

.eg-dentrario-element-1:hover {
	font-size: 28px !important;
	line-height: 28px !important;
	color: #3FB6E0 !important;
	font-weight: 400 !important;
	border-radius: 60px 60px 60px 60px !important;
	background-color: rgba(0, 0, 0, 0.50) !important;
	border-top-width: 0px !important;
	border-right-width: 0px !important;
	border-bottom-width: 0px !important;
	border-left-width: 0px !important;
	border-color: #ffffff !important;
	border-style: solid !important
}
.eg-dentrario-element-0-a {
	display: inline-block !important;
	float: none !important;
	clear: none !important;
	margin: 0px 10px 0px 0px !important;
	position: relative !important
}
.eg-dentrario-element-1-a {
	display: inline-block !important;
	float: none !important;
	clear: none !important;
	margin: 0px 10px 0px 0px !important;
	position: relative !important
}
.eg-dentrario-container {
	background-color: rgba(0, 0, 0, 0.55)
}
.eg-dentrario-content {
	background-color: #ffffff;
	padding: 0px 0px 0px 0px;
	border-width: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	border-color: transparent;
	border-style: double;
	text-align: left
}
.esg-grid .mainul li.eg-dentrario-wrapper {
	background-color: #3f424a;
	padding: 0px 0px 0px 0px;
	border-width: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	border-color: transparent;
	border-style: none
}
.esg-grid .mainul li.eg-dentrario-wrapper .esg-media-poster {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat
}


.eg-henryharrison-element-1,
.eg-henryharrison-element-2 {
	-webkit-transition: all .4s linear;
	-moz-transition: all .4s linear;
	-o-transition: all .4s linear;
	-ms-transition: all .4s linear;
	transition: all .4s linear
}

.eg-jimmy-carter-element-11 i:before {
	margin-left: 0px;
	margin-right: 0px
}

.eg-harding-element-17 {
	letter-spacing: 1px
}

.eg-harding-wrapper .esg-entry-media {
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px 30px 0px 30px
}

.eg-harding-wrapper .esg-entry-media img {
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%
}

.eg-ulysses-s-grant-wrapper .esg-entry-media {
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px 30px 0px 30px
}

.eg-ulysses-s-grant-wrapper .esg-entry-media img {
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%
}

.eg-richard-nixon-wrapper .esg-entry-media {
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px 30px 0px 30px
}

.eg-richard-nixon-wrapper .esg-entry-media img {
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%
}

.eg-herbert-hoover-wrapper .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%)
}

.eg-herbert-hoover-wrapper:hover .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%)
}

.eg-lyndon-johnson-wrapper .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%)
}

.eg-lyndon-johnson-wrapper:hover .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%)
}

.esg-overlay.eg-ronald-reagan-container {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}

.eg-georgebush-wrapper .esg-entry-cover {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}

.eg-jefferson-wrapper {
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC) !important
}

.eg-monroe-element-1 {
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
}

.eg-lyndon-johnson-wrapper .esg-entry-cover {
	background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(96%, rgba(18, 18, 18, 0)), color-stop(100%, rgba(19, 19, 19, 0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00131313', GradientType=1)
}

.eg-wilbert-wrapper .esg-entry-cover {
	background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(96%, rgba(18, 18, 18, 0)), color-stop(100%, rgba(19, 19, 19, 0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00131313', GradientType=1)
}

.eg-wilbert-wrapper .esg-entry-media img {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%)
}

.eg-wilbert-wrapper:hover .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%)
}

.eg-phillie-element-3:after {
	content: " ";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #000 transparent transparent transparent;
	left: 50%;
	margin-left: -5px;
	bottom: -5px;
	position: absolute
}

.eg-howardtaft-wrapper .esg-entry-media img,
.eg-howardtaft-wrapper .esg-media-poster {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%)
}

.eg-howardtaft-wrapper:hover .esg-entry-media img,
.eg-howardtaft-wrapper:hover .esg-media-poster {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%)
}

.myportfolio-container .added_to_cart.wc-forward {
	font-family: "Open Sans";
	font-size: 13px;
	color: #fff;
	margin-top: 10px
}

.esgbox-title.esgbox-title-outside-wrap {
	font-size: 15px;
	font-weight: 700;
	text-align: center
}

.esgbox-title.esgbox-title-inside-wrap {
	padding-bottom: 10px;
	font-size: 15px;
	font-weight: 700;
	text-align: center
}

.esg-content.eg-twitterstream-element-33-a {
	display: inline-block
}

.eg-twitterstream-element-35 {
	word-break: break-all
}

.esg-overlay.eg-twitterstream-container {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}

.esg-content.eg-facebookstream-element-33-a {
	display: inline-block
}

.eg-facebookstream-element-0 {
	word-break: break-all
}

.esg-overlay.eg-flickrstream-container {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}

.eg-henryharrison-element-1,
.eg-henryharrison-element-2 {
	-webkit-transition: all .4s linear;
	-moz-transition: all .4s linear;
	-o-transition: all .4s linear;
	-ms-transition: all .4s linear;
	transition: all .4s linear;
}

.eg-jimmy-carter-element-11 i:before {
	margin-left: 0px;
	margin-right: 0px
}

.eg-harding-element-17 {
	letter-spacing: 1px
}

.eg-harding-wrapper .esg-entry-media {
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px 30px 0px 30px;
}

.eg-harding-wrapper .esg-entry-media img {
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.eg-ulysses-s-grant-wrapper .esg-entry-media {
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px 30px 0px 30px;
}

.eg-ulysses-s-grant-wrapper .esg-entry-media img {
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.eg-richard-nixon-wrapper .esg-entry-media {
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px 30px 0px 30px;
}

.eg-richard-nixon-wrapper .esg-entry-media img {
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.eg-herbert-hoover-wrapper .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%);
}

.eg-herbert-hoover-wrapper:hover .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%)
}

.eg-lyndon-johnson-wrapper .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%);
}

.eg-lyndon-johnson-wrapper:hover .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%)
}

.esg-overlay.eg-ronald-reagan-container {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}

.eg-georgebush-wrapper .esg-entry-cover {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.83)), color-stop(100%, rgba(0, 0, 0, 0.85)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.83) 99%, rgba(0, 0, 0, 0.85) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0)
}

.eg-jefferson-wrapper {
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC) !important
}

.eg-monroe-element-1 {
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
}

.eg-lyndon-johnson-wrapper .esg-entry-cover {
	background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(96%, rgba(18, 18, 18, 0)), color-stop(100%, rgba(19, 19, 19, 0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00131313', GradientType=1);
}

.eg-wilbert-wrapper .esg-entry-cover {
	background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(96%, rgba(18, 18, 18, 0)), color-stop(100%, rgba(19, 19, 19, 0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(18, 18, 18, 0) 96%, rgba(19, 19, 19, 0) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00131313', GradientType=1);
}

.eg-wilbert-wrapper .esg-entry-media img {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%);
}

.eg-wilbert-wrapper:hover .esg-entry-media img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%)
}

.eg-phillie-element-3:after {
	content: " ";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #000 transparent transparent transparent;
	left: 50%;
	margin-left: -5px;
	bottom: -5px;
	position: absolute
}

.eg-howardtaft-wrapper .esg-entry-media img,
.eg-howardtaft-wrapper .esg-media-poster {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%);
}

.eg-howardtaft-wrapper:hover .esg-entry-media img,
.eg-howardtaft-wrapper:hover .esg-media-poster {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%);
}

.myportfolio-container .added_to_cart.wc-forward {
	font-family: "Open Sans";
	font-size: 13px;
	color: #fff;
	margin-top: 10px
}

.esgbox-title.esgbox-title-outside-wrap {
	font-size: 15px;
	font-weight: 700;
	text-align: center
}

.esgbox-title.esgbox-title-inside-wrap {
	padding-bottom: 10px;
	font-size: 15px;
	font-weight: 700;
	text-align: center
}
.minimal-light .navigationbuttons,
.minimal-light .esg-pagination,
.minimal-light .esg-filters {
	text-align: center
}

.minimal-light .esg-filterbutton,
.minimal-light .esg-navigationbutton,
.minimal-light .esg-sortbutton,
.minimal-light .esg-cartbutton a {
	color: #999;
	margin-right: 5px;
	cursor: pointer;
	padding: 0px 16px;
	border: 1px solid #e5e5e5;
	line-height: 38px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 12px;
	font-weight: 700;
	font-family: "Open Sans", sans-serif;
	display: inline-block;
	background: #fff;
	margin-bottom: 5px
}

.minimal-light .esg-navigationbutton * {
	color: #999
}

.minimal-light .esg-navigationbutton {
	padding: 0px 16px
}

.minimal-light .esg-pagination-button:last-child {
	margin-right: 0
}

.minimal-light .esg-left,
.minimal-light .esg-right {
	padding: 0px 11px
}

.minimal-light .esg-sortbutton-wrapper,
.minimal-light .esg-cartbutton-wrapper {
	display: inline-block
}

.minimal-light .esg-sortbutton-order,
.minimal-light .esg-cartbutton-order {
	display: inline-block;
	vertical-align: top;
	border: 1px solid #e5e5e5;
	width: 40px;
	line-height: 38px;
	border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	font-size: 12px;
	font-weight: 700;
	color: #999;
	cursor: pointer;
	background: #fff
}

.minimal-light .esg-cartbutton {
	color: #333;
	cursor: default !important
}

.minimal-light .esg-cartbutton .esgicon-basket {
	color: #333;
	font-size: 15px;
	line-height: 15px;
	margin-right: 10px
}

.minimal-light .esg-cartbutton-wrapper {
	cursor: default !important
}

.minimal-light .esg-sortbutton,
.minimal-light .esg-cartbutton {
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin-right: 0px;
	border-right: none;
	border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px
}

.minimal-light .esg-navigationbutton:hover,
.minimal-light .esg-filterbutton:hover,
.minimal-light .esg-sortbutton:hover,
.minimal-light .esg-sortbutton-order:hover,
.minimal-light .esg-cartbutton a:hover,
.minimal-light .esg-filterbutton.selected {
	background-color: #fff;
	border-color: #bbb;
	color: #333;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.13)
}

.minimal-light .esg-navigationbutton:hover * {
	color: #333
}

.minimal-light .esg-sortbutton-order.tp-desc:hover {
	border-color: #bbb;
	color: #333;
	box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.13) !important
}

.minimal-light .esg-filter-checked {
	padding: 1px 3px;
	color: #cbcbcb;
	background: #cbcbcb;
	margin-left: 7px;
	font-size: 9px;
	font-weight: 300;
	line-height: 9px;
	vertical-align: middle
}

.minimal-light .esg-filterbutton.selected .esg-filter-checked,
.minimal-light .esg-filterbutton:hover .esg-filter-checked {
	padding: 1px 3px 1px 3px;
	color: #fff;
	background: #000;
	margin-left: 7px;
	font-size: 9px;
	font-weight: 300;
	line-height: 9px;
	vertical-align: middle
}
.eg-dentrario-element-0 {
	font-size: 22px !important;
	line-height: 22px !important;
	color: #ffffff !important;
	font-weight: 400 !important;
	padding: 17px 13px 17px 13px !important;
	border-radius: 60px 60px 60px 60px !important;
	background-color: rgba(0, 0, 0, 0.50) !important;
	z-index: 2 !important;
	display: block;
	font-family: "Open Sans" !important;
	border-top-width: 0px !important;
	border-right-width: 0px !important;
	border-bottom-width: 0px !important;
	border-left-width: 0px !important;
	border-color: #ffffff !important;
	border-style: solid !important
}

.eg-dentrario-element-1 {
	font-size: 28px !important;
	line-height: 28px !important;
	color: #ffffff !important;
	font-weight: 400 !important;
	padding: 14px 9px 14px 9px !important;
	border-radius: 60px 60px 60px 60px !important;
	background-color: rgba(0, 0, 0, 0.50) !important;
	z-index: 2 !important;
	display: block;
	border-top-width: 0px !important;
	border-right-width: 0px !important;
	border-bottom-width: 0px !important;
	border-left-width: 0px !important;
	border-color: #ffffff !important;
	border-style: solid !important
}
.eg-dentrario-element-0:hover {
	font-size: 22px !important;
	line-height: 22px !important;
	color: #3fb6e0 !important;
	font-weight: 400 !important;
	border-radius: 60px 60px 60px 60px !important;
	background-color: rgba(0, 0, 0, 0.50) !important;
	border-top-width: 0px !important;
	border-right-width: 0px !important;
	border-bottom-width: 0px !important;
	border-left-width: 0px !important;
	border-color: #ffffff !important;
	border-style: solid !important
}

.eg-dentrario-element-1:hover {
	font-size: 28px !important;
	line-height: 28px !important;
	color: #3FB6E0 !important;
	font-weight: 400 !important;
	border-radius: 60px 60px 60px 60px !important;
	background-color: rgba(0, 0, 0, 0.50) !important;
	border-top-width: 0px !important;
	border-right-width: 0px !important;
	border-bottom-width: 0px !important;
	border-left-width: 0px !important;
	border-color: #ffffff !important;
	border-style: solid !important
}
.eg-dentrario-element-0-a {
	display: inline-block !important;
	float: none !important;
	clear: none !important;
	margin: 0px 10px 0px 0px !important;
	position: relative !important
}
.eg-dentrario-element-1-a {
	display: inline-block !important;
	float: none !important;
	clear: none !important;
	margin: 0px 10px 0px 0px !important;
	position: relative !important
}
.eg-dentrario-container {
	background-color: rgba(0, 0, 0, 0.55)
}
.eg-dentrario-content {
	background-color: #ffffff;
	padding: 0px 0px 0px 0px;
	border-width: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	border-color: transparent;
	border-style: double;
	text-align: left
}
.esg-grid .mainul li.eg-dentrario-wrapper {
	background-color: #3f424a;
	padding: 0px 0px 0px 0px;
	border-width: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	border-color: transparent;
	border-style: none
}
.esg-grid .mainul li.eg-dentrario-wrapper .esg-media-poster {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat
}




.esg-grid {
	background-color: transparent;
	padding: 0px 0px 0px 0px ; 
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.esg-clear {
	height: 5px; 
	visibility: hidden;
}
